.content-box {
    padding: 10px;
    margin: 10px
}
input.ng-dirty.ng-invalid{
 /* border:1px solid red;*/
}
.c-pointer {
  cursor: pointer;
}
.btn-sm {
  font-size: .800rem !important;
}
.second-title {
  font-size: 1.2em !important;
  font-weight: 500 !important;
}
