<div [hidden]="successMsg">

  <div class="row">
    <div class="col-6">
      <div class="alert alert-success">
        Immetti l'email con la quale ti sei registrato e clicca <strong>Invia mail</strong>
        <br>Ti verrà inviato un link per reimpostare la password
      </div>
    </div>
  </div>

  <form name="form" (ngSubmit)="f.form.valid && sendResetPasswordEmail()" #f="ngForm" novalidate>

    <div class="row">
      <div class="col-4">
        <label>Email</label>
        <input [(ngModel)]="model.email" type="email" class="form-control form-control-sm" name="email"
          [pattern]="patternEmail" required />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-2">
        <button class="btn btn-primary" (click)="goToLogin()">Torna alla Login</button>
      </div>
      <div class="col-2" style="text-align: right">
        <button class="btn btn-primary" type="submit" [disabled]="f.form.invalid">Invia mail</button>
      </div>
    </div>

  </form>

</div>

<div class="row" [hidden]="!successMsg">
  <div class="col-4">
    <div class="alert alert-success">
      <strong>{{successMsg}}</strong>
    </div>
  </div>
</div>