<div [hidden]="istituti.length" class="row">
  <div class="col-6">
    <div class="alert alert-info">
      <strong>E' possibile inserire, modificare o eliminare un istituto dalla pagina
        <a [routerLink]="['/gestisciIstituto']" routerLinkActive="active">Gestione Istituti</a>
      </strong>
    </div>
  </div>
</div>

<form name="form" (ngSubmit)="f.form.valid && insertChild()" #f="ngForm" novalidate>

  <div class="row mb-3">
    <div class="col-2">
      <label>Istituto</label>
      <select class="custom-select custom-select-sm" name="istituto" [(ngModel)]="model.id_istituto" [disabled]="!istituti.length" required>
        <option *ngFor="let x of istituti" value="{{x}}">{{x}}</option>
      </select>
    </div>
    <div class="col-2">
      <label>Classe</label>
      <select class="custom-select custom-select-sm" name="classe" [(ngModel)]="model.classe" [disabled]="!istituti.length" required>
        <option *ngFor="let x of classi" value="{{x}}">{{x}}</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2">
      <label>Nome</label>
      <input type="text" class="form-control form-control-sm" name="nome" [(ngModel)]="model.nome" [disabled]="!istituti.length" required />
    </div>
    <div class="col-2">
      <label>Cognome</label>
      <input type="text" class="form-control form-control-sm" name="cognome" [(ngModel)]="model.cognome" [disabled]="!istituti.length" required />
    </div>
    <div class="col-2">
      <label>Sesso</label>
      <select class="custom-select custom-select-sm" name="sesso" [(ngModel)]="model.sesso" [disabled]="!istituti.length" required>
        <option *ngFor="let x of sexList" value="{{x.db}}">{{x.label}}</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2">
      <label>Data di Nascita</label>
      <input type="date" class="form-control form-control-sm" name="dataNascita" [(ngModel)]="model.dataNascita" max="{{today}}" [disabled]="!istituti.length" required />
    </div>
    <div class="col-2">
      <label>Comune di Nascita</label>
      <input type="text" class="form-control form-control-sm" name="comuneNascita" [(ngModel)]="model.comuneNascita" [disabled]="!istituti.length" required />
    </div>
    <div class="col-2">
      <label>Comune di Residenza</label>
      <input type="text" class="form-control form-control-sm" name="comuneResidenza" [(ngModel)]="model.comuneResidenza" [disabled]="!istituti.length" required />
    </div>
    <div class="col-2">
      <label>Indirizzo di Residenza</label>
      <input type="text" class="form-control form-control-sm" name="indirizzoResidenza" [(ngModel)]="model.indirizzoResidenza" [disabled]="!istituti.length" />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2">
      <label>Figlio Adottivo</label>
      <select class="custom-select custom-select-sm" name="figlioAdottivo" [(ngModel)]="model.figlioAdottivo" [disabled]="!istituti.length" required>
        <option *ngFor="let x of siNo">{{x}}</option>
      </select>
    </div>
    <div class="col-2">
      <label>Ordine Genitura</label>
      <input type="number" class="form-control form-control-sm" name="ordineGenitura" [(ngModel)]="model.ordineGenitura" min="1" [disabled]="!istituti.length" required />
    </div>
    <div class="col-2">
      <label>Numero Fratelli</label>
      <input type="number" class="form-control form-control-sm" name="numeroFratelli" [(ngModel)]="model.numeroFratelli" min="0" [disabled]="!istituti.length" required />
    </div>
    <div class="col-2">
      <label>Numero Sorelle</label>
      <input type="number" class="form-control form-control-sm" name="numeroSorelle" [(ngModel)]="model.numeroSorelle" min="0" [disabled]="!istituti.length" required />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2">
      <label>Lavoro Padre</label>
      <input type="text" class="form-control form-control-sm" name="lavoroPadre" [(ngModel)]="model.lavoroPadre" [disabled]="!istituti.length" />
    </div>
    <div class="col-2">
      <label>Lavoro Madre</label>
      <input type="text" class="form-control form-control-sm" name="lavoroMadre" [(ngModel)]="model.lavoroMadre" [disabled]="!istituti.length" />
    </div>
    <div class="col-2">
      <label>Titolo di Studio Padre</label>
      <input type="text" class="form-control form-control-sm" name="titoloStudioPadre" [(ngModel)]="model.titoloStudioPadre" [disabled]="!istituti.length" />
    </div>
    <div class="col-2">
      <label>Titolo di Studio Madre</label>
      <input type="text" class="form-control form-control-sm" name="titoloStudioMadre" [(ngModel)]="model.titoloStudioMadre" [disabled]="!istituti.length" />
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <button class="btn btn-primary mr-5" type="submit" [disabled]="f.form.invalid">Salva</button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="model = {}">Svuota campi</button>
    </div>
  </div>

</form>
