<div class="row align-items-end mb-2">
  <div *ngFor="let combo of searchCombos" class="col-2">
    <label class="font-weight-bold">{{combo | capitalize}}</label>
    <select class="custom-select custom-select-sm" name="{{combo}}" [(ngModel)]="searchModels[combo]"
      (ngModelChange)="createChartData()" [disabled]="comboDisabled(combo)">
      <option *ngFor="let x of searchLists[combo]" [ngValue]="x">{{combo === 'istituto' ? x.nome : x}}</option>
    </select>
  </div>
  <div class="col-2">
    <button (click)="resetCombos()" class="btn btn-primary">Reset</button>
  </div>
</div>

<div class="row">
  <div class="col-12" id="chart-div">
    <google-chart #chart *ngIf="showChart" [type]="type" [data]="data" [columns]="columns" [options]="options"
      [width]="width" [height]="height">
    </google-chart>
  </div>
</div>