<div class="row">
  <div class="col-6">
    <div class="alert alert-success">
      Immetti la nuova password e clicca <strong>Reimposta</strong>
    </div>
  </div>
</div>

<form name="form" (ngSubmit)="f.form.valid && checkPassword() && resetPassword()" #f="ngForm" novalidate>

  <div class="row">
    <div class="col-4">
      <label>Password</label>
      <input [(ngModel)]="password" type="password" name="password" class="form-control form-control-sm"
        tooltip="Minimo 8 caratteri, massimo 20, nessuno spazio, almeno una maiuscola, una minuscola, un numero e un carattere speciale tra questi @$!=%*?^&+#"
        [pattern]="patternPassword" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <label>Conferma Password</label>
      <input [(ngModel)]="password2" type="password" name="password2" class="form-control form-control-sm"
        [pattern]="patternPassword" tooltip="Deve essere uguale alla password" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <button class="btn btn-primary pull-right" type="submit" [disabled]="f.form.invalid">Reimposta</button>
    </div>
  </div>

</form>

<div class="row mt-3">
  <div class="col-4">
    <button class="btn btn-primary pull-right" (click)="goToLogin()">Torna alla Login</button>
  </div>
</div>

<div class="row mt-3" [hidden]="!errMsg">
  <div class="col-4">
    <div class="alert alert-danger">
      <strong>{{errMsg}}</strong>
    </div>
  </div>
</div>