
<div class="row align-items-end mb-2">
	<div *ngFor="let combo of searchCombos" class="col-2">
		<label class="font-weight-bold">{{combo | capitalize}}</label> <select
			class="custom-select custom-select-sm" name="{{combo}}"
			[(ngModel)]="searchModels[combo]"
			(ngModelChange)="findByCombo(combo)"
			[disabled]="comboDisabled(combo)">
			<option *ngFor="let x of searchLists[combo]" [ngValue]="x">{{combo
				=== 'istituto' ? x.nome : x}}</option>
		</select>
	</div>
	
	<div class="col-2">
		<button (click)="resetCombos()" class="btn btn-primary">Reset</button>
	</div>
</div>

<div class="row align-items-end mb-2">
	<div class="col-5 form-inline">
		<label class="mr-3">Cerca per cognome:</label> <input
			[(ngModel)]="searchCognome" (keyup)="searchChild()" type="text"
			class="form-control form-control-sm">
	</div>
</div>

<div class="row">

	<div class="col-12">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Data Nascita</th>
					<th>Età</th>
					<th>Sesso</th>
					<th>Istituto</th>
					<th>Sezione</th>
					<th>Data Test</th>
					<th>Test Effettuato</th>
					<th>Psicologhi Attivi</th>
					<th>Aggiungi Psicologo</th>
				</tr>
			</thead>
			<tbody>
				<ng-container
					*ngFor="let child of listaBambini; let i = index">
				<tr>
					<td>{{i + 1}}</td>
					<td>{{child.nome}}</td>
					<td>{{child.cognome}}</td>
					<td>{{child.dataNascita | date: 'dd MMM yyyy'}}</td>
					<td>{{child.dataNascita | eta}}</td>
					<td>{{child.sesso | sesso}}</td>
					<td>{{getNomeIstituto(child.idIstituto)}}</td>
					<td>{{child.sezione || 'N.P.'}}</td>
					<td>{{child.dataTest ? (child.dataTest | date: 'dd MMM yyyy')
						: 'N.P.'}}</td>
					<td>{{child.testFinito | testFinito}}</td>
					<td >
						<button (click)="child.showDetail = !child.showDetail"
							class="btn btn-primary btn-sm" tooltip="psicologhi">
							<i class="fa"
								[ngClass]="{'fa-arrow-up': !child.showDetail, 'fa-arrow-down': child.showDetail}"></i>

						</button>
					</td>
					<td><select [(ngModel)]="child.selectedPsicologo" class="form-select"
						aria-label="Default select example">
							<option *ngFor="let psicologo of psicologhi"
								[ngValue]="psicologo">{{psicologo.nome}} {{psicologo.cognome}}</option>
					</select>

						<button (click)="addPsicologo(child,i)" style="margin-left: 20px" class="btn btn-primary btn-sm"
							tooltip="aggiungi psicologo">
							<i class="fa fa-plus"></i>

						</button></td>
				</tr>
				<tr *ngIf="child.showDetail">
					<td colspan="20">
						<table
							class="table table-sm table-info sub-table table-borderless">
							<thead>
								<tr>
									<th>#</th>
									<th>Nome</th>
									<th>Cognome</th>
									<th>Elimina Psicologo</th>
								</tr>
							</thead>
							<tbody>
								<ng-container
									*ngFor="let psicologo of child.psicologhi; let i = index">
								<tr>
									<td>{{i + 1}}</td>
									<td>{{psicologo.nome}}</td>
									<td>{{psicologo.cognome}}</td>
									<td>
										<button (click)="deletePsicologo(psicologo.id,child.id,i)" class="btn btn-primary btn-sm"
											tooltip="elimina psicologo">
											<i class="fa fa-trash-o"></i>
										</button>
									</td>
								</tr>
								</ng-container>
							</tbody>
						</table>
					</td>
				</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</div>