<div class="row">
  <div class="col-6">
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data Nascita</th>
        <th>Età</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let child of childList; let i = index">
        <td>{{i + 1}}</td>
        <td>{{child.nome}}</td>
        <td>{{child.cognome}}</td>
        <td>{{child.dataNascita | date: 'dd MMM yyyy' }}</td>
        <td>{{getChildAge(child.dataNascita)}}</td>
        <td class="text-right">
          <button class="btn btn-primary btn-sm" type="button" (click)="lookChild(child)" tooltip="Dettagli">
            <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-primary btn-sm ml-1" type="button" (click)="goToTest(child.id)" tooltip="Vai al Test">
            <i class="fa fa-file-text-o"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6">
    <table class="table table-sm table-striped" *ngIf="bambino">
      <thead>
      <tr>
        <th colspan="2" class="text-center">-- Dati Bambino --</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Nome</th>
        <td>{{bambino.nome}}</td>
      </tr>
      <tr>
        <th>Cognome</th>
        <td>{{bambino.cognome}}</td>
      </tr>
      <tr>
        <th>Data Nascita</th>
        <td>{{bambino.dataNascita | date: 'dd MMM yyyy'}}</td>
      </tr>
      <tr>
        <th>Città di Nascita</th>
        <td>{{bambino.cittaNascita}}</td>
      </tr>
      <tr>
        <th>Figlio Adottivo</th>
        <td>{{bambino.figlioAdottivo}}</td>
      </tr>
      <tr>
        <th>Ordine Genitura</th>
        <td>{{bambino.ordineGenitura}}</td>
      </tr>
      <tr>
        <th>Numero Fratelli</th>
        <td>{{bambino.numeroFratelli}}</td>
      </tr>
      <tr>
        <th>Numero Sorelle</th>
        <td>{{bambino.numeroSorelle}}</td>
      </tr>
      <tr>
        <th>Lavoro Padre</th>
        <td>{{bambino.lavoroPadre}}</td>
      </tr>
      <tr>
        <th>Lavoro Madre</th>
        <td>{{bambino.lavoroMadre}}</td>
      </tr>
      <tr>
        <th>Titolo Studio Padre</th>
        <td>{{bambino.titoloStudioPadre}}</td>
      </tr>
      <tr>
        <th>Titolo Studio Madre</th>
        <td>{{bambino.titoloStudioMadre}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
