<div class="row align-items-end mb-2">
  <div *ngFor="let combo of searchCombos" class="col-2">
    <label class="font-weight-bold">{{capitalize(combo)}}</label>
    <select class="custom-select custom-select-sm" name="{{combo}}" [(ngModel)]="searchModels[combo]"
      (ngModelChange)="findByCombo(combo)" [disabled]="!searchLists[combo].length">
      <option *ngFor="let x of searchLists[combo]" [ngValue]="x">{{combo === 'istituto' ? x.nome : x}}</option>
    </select>
  </div>
  <div class="col-2">
    <button (click)="resetCombos()" class="btn btn-primary">Reset</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Data Nascita</th>
          <th>Età</th>
          <th>Sesso</th>
          <th>Comune di Residenza</th>
          <th>Figlio Adottivo</th>
          <th>Istituto</th>
          <th>Sezione</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let child of listaBambini; let i = index">
          <td>{{i + 1}}</td>
          <td>{{child.nome}}</td>
          <td>{{child.cognome}}</td>
          <td>{{child.dataNascita | date: 'dd MMM yyyy' }}</td>
          <td>{{getChildAge(child.dataNascita)}}</td>
          <td>{{child.sesso}}</td>
          <td>{{child.comuneResidenza}}</td>
          <td>{{child.figlioAdottivo}}</td>
          <td>{{getNomeIstituto(child.idIstituto)}}</td>
          <td>{{child.sezione}}</td>
          <td class="text-right">
            <button class="btn btn-primary btn-sm" type="button" (click)="goToChildPage(child.id)" tooltip="Dettagli">
              <i class="fa fa-search"></i>
            </button>
            <button *ngIf="!child.testFinito" (click)="goToTest(child.id)" class="btn btn-primary btn-sm ml-1"
              tooltip="Fai il Test">
              <i class="fa fa-file-text-o"></i>
            </button>
            <button *ngIf="child.testFinito" (click)="goToTestResult(child.id)" class="btn btn-success btn-sm ml-1"
              tooltip="Risultato del Test">
              <i class="fa fa-file-text-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>