<form name="form" (ngSubmit)="f.form.valid && checkPassword() && register()" #f="ngForm" novalidate>

  <div class="row mt-3">
    <div class="col-4">
      <label>Nome</label>
      <input type="text" class="form-control form-control-sm" name="nome" [(ngModel)]="model.nome" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <label>Cognome</label>
      <input type="text" class="form-control form-control-sm" name="cognome" [(ngModel)]="model.cognome" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <label>Username</label>
      <input type="text" class="form-control form-control-sm" name="username" [(ngModel)]="model.username" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <label>Password</label>
      <input tooltip="Minimo 8 caratteri, massimo 20, almeno una maiuscola, una minuscola, un numero e un carattere speciale tra questi @$!=%*?^&+#"
             type="password" class="form-control form-control-sm" name="password" [(ngModel)]="model.password" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <label>Conferma Password</label>
      <input type="password" class="form-control form-control-sm" name="password2" [(ngModel)]="model.password2"
             tooltip="Deve essere uguale alla password" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2">
      <button class="btn btn-primary" type="submit" [disabled]="f.form.invalid">Crea Account</button>
    </div>
    <div class="col-2" style="text-align: right">
      <button class="btn btn-primary" (click)="goToLogin()">Torna alla Login</button>
    </div>
  </div>

</form>

<div class="row mt-3">
  <div class="col-4">
    <div class="alert alert-danger" [hidden]="!errMsg">
      <strong>{{errMsg}}</strong>
    </div>
  </div>
</div>


