<div class="row">

  <div class="col-5">
    <form name="form" (ngSubmit)="f.form.valid && inserisciIstituto()" #f="ngForm" novalidate>
      <fieldset>
        <legend class="second-title">Inserisci Nuovo Istituto</legend>

        <div class="row mb-3">
          <div class="col-6">
            <label>Nome</label>
            <input type="text" class="form-control form-control-sm" name="nome" [(ngModel)]="newIstituto.nome"
                   required />
          </div>
          <div class="col-6">
            <label>Regione</label>
            <input type="text" class="form-control form-control-sm" name="regione" [(ngModel)]="newIstituto.regione"
                   required />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <label>Provincia</label>
            <input type="text" class="form-control form-control-sm" name="provincia" [(ngModel)]="newIstituto.provincia"
                   required />
          </div>
          <div class="col-6">
            <label>Comune</label>
            <input type="text" class="form-control form-control-sm" name="comune" [(ngModel)]="newIstituto.comune"
                   required />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <label>Indirizzo</label>
            <input type="text" class="form-control form-control-sm" name="indirizzo" [(ngModel)]="newIstituto.indirizzo"
                   required />
          </div>
          <div class="col-6">
            <label>Mail</label>
            <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="newIstituto.mail"
                   required />
          </div>
        </div>
        <div class="row align-items-end">

          <div class="col-6">
            <button class="btn btn-primary mr-3" type="submit" [disabled]="f.form.invalid">Salva</button>
            <button class="btn btn-primary" (click)="newIstituto = {}">Svuota Campi</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-7" *ngIf="istituti.length">
    <form [formGroup]="istitutiForm">
      <div class="text-center second-title mb-1">Lista Istituti Inseriti</div>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Regione</th>
            <th>Provincia</th>
            <th>Comune</th>
            <th>Indirizzo</th>
            <th>Email</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody formArrayName="istitutiRows">
          <tr *ngFor="let istituto of istituti; let i = index">
            <ng-container *ngIf="!istituto.inModifica">
              <td>{{istituto.nome}}</td>
              <td>{{istituto.regione}}</td>
              <td>{{istituto.provincia}}</td>
              <td>{{istituto.comune}}</td>
              <td>{{istituto.indirizzo}}</td>
              <td>{{istituto.mail}}</td>
              <td class="buttons">
                <button class="btn btn-primary btn-sm" (click)="istituto.inModifica = true" tooltip="Modifica">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="buttons">
                <button class="btn btn-primary btn-sm" (click)="eliminaIstituto(i)" tooltip="Elimina">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
              <td class="buttons" [hidden]="istituto.caricato == 'Y' ">
                <button class="btn btn-primary btn-sm" (click)="inviaMail(istituto)" tooltip="Mail">
                  <i class="fa fa-envelope-open-o"></i>
                </button>
              </td>
            </ng-container>
            <ng-container *ngIf="istituto.inModifica" [formGroupName]="i">
              <td><input type="text" formControlName="nome" class="form-control form-control-sm"></td>
              <td><input type="text" formControlName="regione" class="form-control form-control-sm"></td>
              <td><input type="text" formControlName="provincia" class="form-control form-control-sm"></td>
              <td><input type="text" formControlName="comune" class="form-control form-control-sm"></td>
              <td><input type="text" formControlName="indirizzo" class="form-control form-control-sm"></td>
              <td><input type="text" formControlName="mail" class="form-control form-control-sm"></td>
              <td class="buttons">
                <button class="btn btn-primary btn-sm" type="submit" (click)="saveModIstituto(i)"
                        [disabled]="formInvalid(i)" tooltip="Salva">
                  <i class="fa fa-save"></i>
                </button>
              </td>
              <td class="buttons">
                <button class="btn btn-primary btn-sm" (click)="cancelModIstituto(i)" tooltip="Annulla">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>
