<div class="row">

  <div class="col-6">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th colspan="7" class="table-title">Lista Istituti Inseriti</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Nome</th>
          <th>Regione</th>
          <th>Provincia</th>
          <th>Comune</th>
          <th>Indirizzo</th>
          <th></th>
        </tr>
        <tr *ngFor="let istituto of istituti">
          <td>{{istituto.nome}}</td>
          <td>{{istituto.regione}}</td>
          <td>{{istituto.provincia}}</td>
          <td>{{istituto.comune}}</td>
          <td>{{istituto.indirizzo}}</td>
          <td class="text-right">
            <button class="btn btn-primary btn-sm" type="button" (click)="null" tooltip="Modifica">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-primary btn-sm ml-1" type="button" (click)="null" tooltip="Elimina">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6">
    <form name="form" (ngSubmit)="f.form.valid && inserisciIstituto()" #f="ngForm" novalidate>
      <fieldset>
        <legend>Inserisci Nuovo Istituto</legend>

        <div class="row mb-3">
          <div class="col-6">
            <label>Nome</label>
            <input type="text" class="form-control form-control-sm" name="nome" [(ngModel)]="newIstituto.nome"
              required />
          </div>
          <div class="col-6">
            <label>Regione</label>
            <input type="text" class="form-control form-control-sm" name="regione" [(ngModel)]="newIstituto.regione"
              required />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <label>Provincia</label>
            <input type="text" class="form-control form-control-sm" name="provincia" [(ngModel)]="newIstituto.provincia"
              required />
          </div>
          <div class="col-6">
            <label>Comune</label>
            <input type="text" class="form-control form-control-sm" name="comune" [(ngModel)]="newIstituto.comune"
              required />
          </div>
        </div>

        <div class="row align-items-end">
          <div class="col-6">
            <label>Indirizzo</label>
            <input type="text" class="form-control form-control-sm" name="indirizzo" [(ngModel)]="newIstituto.indirizzo"
              required />
          </div>
          <div class="col-6" style="text-align: right">
            <button class="btn btn-primary mr-3" type="submit" [disabled]="f.form.invalid">Salva</button>
            <button class="btn btn-primary" (click)="newIstituto = {}">Svuota Campi</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

</div>
