<table *ngIf="bambino" class="table table-sm table-striped"
  [ngStyle]="{'background-color': bambino.sesso === 'M' ? 'powderblue' : 'lightpink' }">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Data Nascita</th>
      <th>Età</th>
      <th>Sesso</th>
      <th>Data Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{bambino.nome}}</td>
      <td>{{bambino.cognome}}</td>
      <td>{{bambino.dataNascita | date: 'dd MMM yyyy'}}</td>
      <td>{{bambino.dataNascita | eta}}</td>
      <td>{{bambino.sesso | sesso}}</td>
      <td>{{bambino.dataTest ? (bambino.dataTest | date: 'dd MMM yyyy') : 'N.P.'}}</td>
    </tr>
  </tbody>
</table>