<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

  <div class="row mt-3">
    <div class="col-3">
      <label>Email</label>
      <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="model.email"
        [pattern]="patternEmail" required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <label>Password</label>
      <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="model.password"
        required />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <button class="btn btn-primary pull-right" type="submit" [disabled]="f.form.invalid">Log In</button>
    </div>
  </div>

</form>

<div class="row mt-3">
  <div class="col-1">
    <button class="btn btn-primary pull-right" (click)="goToRegister()">Registrati</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary pull-right" (click)="goToResetPassword()">Password dimenticata?</button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-3">
    <div class="alert alert-danger" [hidden]="!errMsg">
      <strong>{{errMsg}}</strong>
    </div>
  </div>
</div>