<div class="container-fluid">

  <nav class="row navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">
      <div>
        <span class="title">Arsdiapason</span> - <span class="title2">Test Balconi</span>
      </div>
      <div [hidden]="!loggedIn()" class="subtitle">Bentornato {{user.nome}}</div>
    </a>
    <button *ngIf="loggedIn()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="loggedIn()" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let p of pages" [hidden]="p.hidden">
          <a class="nav-link {{p.class}}" routerLink="{{p.route}}" routerLinkActive="active">{{p.title}}</a>
        </li>
      </div>
      <span [hidden]="!loggedIn()" class="navbar-text pr-5" (click)="logout()">Logout</span>
    </div>
  </nav>

  <div class="row py-3">
    <div class="col-12 px-5">
      <h3 class="mb-3">{{page}}</h3>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<ngx-spinner size="medium" type="line-spin-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
