<div class="container-fluid">

  <div class="row toolbar pl-0">
    <div class="col-10 pl-5">
      <span style="font-size: 1.4em">Arsdiapason</span> - {{page}}
    </div>
    <div class="col-2 text-right pr-4" (click)="logout()" [hidden]="hideLogout()">Logout</div>
  </div>

  <div class="row mb-4" [hidden]="hideLogout()">
    <div class="col-12 pl-5">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let p of pages" (click)="page = p.title">
          <a class="nav-link" routerLink="{{p.route}}" routerLinkActive="active">{{p.title}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 pl-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ngx-spinner size="medium" type="line-spin-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
