<div class="row mb-1">
	<div class="col">
		<h5>Nome:</h5>
		<p>{{child.nome}} {{child.cognome}}</p>
	</div>
	<div class="col">
		<h5>Data di Nascita:</h5>
		<p>{{child.dataNascita | date: 'dd MMM yyyy'}}</p>
	</div>
	<div class="col">
		<h5>Eta':</h5>
		<p>{{child.dataNascita | eta}}</p>
	</div>
	<div class="col">
		<h5>Sesso:</h5>
		<p>{{child.sesso | sesso}}</p>
	</div>
</div>

<div class="row mb-1">
	<div class="col">
		<h5>Nome Istituto:</h5>
		<p>{{getNomeIstituto(child.idIstituto)}}</p>
	</div>
	<div class="col">
		<h5>Sezione:</h5>
		<p>{{child.sezione || 'N.P.'}}</p>
	</div>
	<div class="col">
		<h5>Data Test:</h5>
		<p>{{child.dataTest ? (child.dataTest | date: 'dd MMM yyyy') :
			'N.P.'}}</p>
	</div>
	<div class="col">
		<h5>Test finito:</h5>
		<p>{{child.testFinito | testFinito}}</p>
	</div>
</div>

<div class="row mb-1">
	<div [hidden]="!child.figlioAdottivo" class="col">
		<h5>Figlio Adottivo:</h5>
		<p>{{child.figlioAdottivo}}</p>
	</div>
	<div [hidden]="!child.ordineGenitura" class="col">
		<h5>Ordine Genitura:</h5>
		<p>{{child.ordineGenitura}}</p>
	</div>
	<div [hidden]="!child.numeroFratelli" class="col">
		<h5>Numero Fratelli:</h5>
		<p>{{child.numeroFratelli}}</p>
	</div>
	<div [hidden]="!child.numeroSorelle" class="col">
		<h5>Numero Sorelle:</h5>
		<p>{{child.numeroSorelle}}</p>
	</div>
</div>

<div class="row mb-1">
	<div [hidden]="!child.titoloStudioPadre" class="col">
		<h5>Titolo Studio Padre:</h5>
		<p>{{child.titoloStudioPadre}}</p>
	</div>
	<div [hidden]="!child.titoloStudioMadre" class="col">
		<h5>Titolo Studio Madre:</h5>
		<p>{{child.titoloStudioMadre}}</p>
	</div>
	<div [hidden]="!child.lavoroPadre" class="col">
		<h5>Lavoro Padre:</h5>
		<p>{{child.lavoroPadre}}</p>
	</div>
	<div [hidden]="!child.lavoroMadre" class="col">
		<h5>Lavoro Madre:</h5>
		<p>{{child.lavoroMadre}}</p>
	</div>
</div>

<div class="row mb-1">
	<div [hidden]="child.comuneNascita != ''" class="col-3">
		<h5>Comune di Nascita:</h5>
		<p>{{child.comuneNascita}}</p>
	</div>
	<div [hidden]="child.comuneResidenza != '' " class="col-3">
		<h5>Comune di Residenza:</h5>
		<p>{{child.comuneResidenza}}</p>
	</div>
	<div [hidden]="child.indirizzoResidenza != '' " class="col-3">
		<h5>Indirizzo di Residenza:</h5>
		<p>{{child.indirizzoResidenza}}</p>
	</div>
</div>

<div class="row mb-1">
	<div [hidden]="child.note != ''" class="col">
		<h5>Note:</h5>
		<p>{{child.note}}</p>
	</div>
</div>

<div class="mb-1">
	<app-grafico-bambino-due *ngIf="child" [bambino]="child"></app-grafico-bambino-due>
</div>
<div class="mb-1">
	<app-grafico-bambino *ngIf="child" [bambino]="child"></app-grafico-bambino>
</div>