<div class="row align-items-start">
	<div class="col">
		<h3>Nome:</h3>
		<p>{{child.nome}} {{child.cognome}}</p>
	</div>
	<div class="col">
		<h3>Data di Nascita:</h3>
		<p>{{child.dataNascita | date: 'dd MMM yyyy'}}</p>
	</div>
	<div class="col">
		<h3>Eta':</h3>
		<p>{{child.dataNascita | eta}}</p>
	</div>
	<div class="col">
		<h3>Sesso:</h3>
		<p>{{child.sesso | sesso}}</p>
	</div>
</div>

<div style="padding-top:15px" class="row align-items-center">
	<div class="col">
		<h3>Nome Istituto:</h3>
		<p>{{getNomeIstituto(child.idIstituto)}}</p>
	</div>
	<div class="col">
		<h3>Sezione:</h3>
		<p>{{child.sezione || 'N.P.'}}</p>
	</div>
	<div class="col">
		<h3>Data Test: {{child.dataTest ? (child.dataTest | date: 'dd MMM
			yyyy') : 'N.P.'}}</h3>
		<p>{{child.dataTest ? (child.dataTest | date: 'dd MMM yyyy') :
			'N.P.'}}</p>
	</div>
	<div class="col">
		<h3>Test finito:</h3>
		<p>{{child.testFinito | testFinito}}</p>
	</div>
</div>

<div style="padding-top:15px" class="row align-items-center">
	<div [hidden]="child.figlioAdottivo != ''" class="col">
		<h3>Figlio Adottivo:</h3>
		<p>{{child.figlioAdottivo}}</p>
	</div>
	<div [hidden]="child.ordineGenitura != ''" class="col">
		<h3>Ordine Genitura:</h3>
		<p>{{child.ordineGenitura}}</p>
	</div>
	<div [hidden]="child.numeroFratelli != ''" class="col">
		<h3>Numero Fratelli:</h3>
		<p>{{child.numeroFratelli}}</p>
	</div>
	<div [hidden]="child.numeroSorelle != ''" class="col">
		<h3>Numero Sorelle:</h3>
		<p>{{child.numeroSorelle}}</p>
	</div>
</div>

<div style="padding-top:15px" class="row align-items-center">
	<div [hidden]="child.titoloStudioPadre != ''" class="col">
		<h3>Titolo Studio Padre:</h3>
		<p>{{child.titoloStudioPadre}}</p>
	</div>
	<div [hidden]="child.titoloStudioMadre != ''" class="col">
		<h3>Titolo Studio Madre:</h3>
		<p>{{child.titoloStudioMadre}}</p>
	</div>
	<div [hidden]="child.lavoroPadre != ''" class="col">
		<h3>Lavoro Padre:</h3>
		<p>{{child.lavoroPadre}}</p>
	</div>
	<div [hidden]="child.lavoroMadre != ''" class="col">
		<h3>Lavoro Madre:</h3>
		<p>{{child.lavoroMadre}}</p>
	</div>
</div>

<div style="padding-top:15px" class="row align-items-center">
	<div [hidden]="child.comuneNascita != ''" class="col-3">
		<h3>Comune di Nascita:</h3>
		<p>{{child.comuneNascita}}</p>
	</div>
	<div [hidden]="child.comuneResidenza != '' " class="col-3">
		<h3>Comune di Residenza:</h3>
		<p>{{child.comuneResidenza}}</p>
	</div>
	<div [hidden]="child.indirizzoResidenza != '' " class="col-3">
		<h3>Indirizzo di Residenza:</h3>
		<p>{{child.indirizzoResidenza}}</p>
	</div>
</div>

<div style="padding-top:15px" class="row align-items-center">
	<div [hidden]="child.note != ''" class="col">
		<h3>Note:</h3>
		<p>{{child.note}}</p>
	</div>
</div>

<app-grafico-bambino *ngIf="child" [bambino]="child"></app-grafico-bambino>
