<div [hidden]="idBambino" class="row">
  <div class="col-6">
    <div class="alert alert-info">
      <strong>Per fare il test è necessario cliccare sul pulsante 'Vai Al Test' sulla riga di un bambino dalla pagina
        <a [routerLink]="['/childList']" routerLinkActive="active">Lista Bambini</a>
      </strong>
    </div>
  </div>
</div>

<div *ngIf="bambino" class="row">
  <div class="col-6">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Data Nascita</th>
          <th>Età</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{bambino.nome}}</td>
          <td>{{bambino.cognome}}</td>
          <td>{{bambino.dataNascita | date: 'dd MMM yyyy' }}</td>
          <td>{{getChildAge(bambino.dataNascita)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <table>
      <tr *ngFor="let scheda of schede">
        <td>
          <button class="btn btn-primary w-100" (click)="showDatiScheda(scheda)"
            [ngClass]="{'btn-success': scheda.complete}">
            Scheda {{scheda.numero}}
          </button>
        </td>
        <td>
          <button class="btn btn-primary ml-2" tooltip="Scarica immagine">
            <i class="fa fa-download"></i>
          </button>
        </td>
        <td [hidden]="!idBambino">
          <button class="btn btn-primary ml-2" tooltip="Carica test competato">
            <i class="fa fa-upload"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button class="btn btn-primary w-100 mt-1" [disabled]="!allSchedeComplete()" (click)="saveTest()">Salva
            il Test</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-4 text-center" *ngIf="currentScheda.titolo">
    <div class="row">
      <div class="col-12">
        <h4>{{currentScheda.numero}} - {{currentScheda.titolo}}</h4>
        <h6>{{currentScheda.obbiettivo}}</h6>
      </div>
    </div>
    <div class="row" [hidden]="!currentScheda.immagini">
      <div *ngFor="let img of getArrayImages(currentScheda.immagini)"
        class="{{getArrayImages(currentScheda.immagini).length > 1 ? 'col-6': 'col-12'}}">
        <img src="/assets/img/scheda{{currentScheda.numero}}{{img}}.png" class="mb-1">
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="col-12" *ngFor="let scheda of schede" [hidden]="scheda.numero !== currentScheda.numero">
      <table *ngFor="let obj of tipiScheda[scheda.numero]"
        class="table table-bordered table-striped tabella-punti text-center mb-2">
        <tbody>
          <tr *ngIf="obj.tipo">
            <th [attr.colspan]="arrayAnni.length + 1" class="text-center">{{obj.tipo.toUpperCase()}}</th>
          </tr>
          <tr>
            <th>ANNI</th>
            <th *ngFor="let anni of arrayAnni" style="width: 20%">{{anni}}</th>
          </tr>
          <tr>
            <th>ESITO</th>
            <td *ngFor="let anni of arrayAnni">
              <div *ngFor="let row of obj.rows" [hidden]="row.anni !== anni">
                <div [hidden]="!idBambino">
                  <input [(ngModel)]="row.checked" (change)="checkBefore(obj.rows, row.id, scheda)" type="checkbox"
                    id="prova{{row.anni}}{{row.prova}}" name="prova{{row.anni}}{{row.prova}}">
                </div>
                <label [innerHTML]="getTableText(obj.rows, row, idBambino)"
                  for="prova{{row.anni}}{{row.prova}}"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th>PROVA</th>
            <td *ngFor="let anni of arrayAnni">
              <span *ngFor="let row of getRowsByAnni(obj.rows, anni); let i = index">
                <span *ngIf="i === 0">{{row.prova}}</span>
                <span *ngIf="i > 0"> e/o {{row.prova}}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
